@font-face {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/Raleway.woff) format('woff');
}
@font-face {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/Raleway-Bold.woff) format('woff');
}
@font-face {
font-family: 'Raleway';
font-style: italic;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/Raleway.woff) format('woff');
}
@font-face {
font-family: 'Raleway';
font-style: italic;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/Raleway.woff) format('woff');
}
